### gitignore binary files that have no extension
### copy from: https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore Some file with no extensions
!Makefile
### Above combination will ignore all files without extension ###

.*.swp
*.o
*.out
*.xo
*.so
*.d
*.log
misc/*

.make-*
.prerequisites
*.dSYM
.DS_Store

.vscode/*
.idea/*
.ccls
.ccls-cache/*
compile_commands.json
cmake-build-debug/*